/* Main Header Container */
.main-header-container {
    background-color: yellow;
    padding-top: 40px;
  }
  
  /* Main Youtuber Heading */
  .main-youtuber {
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
    background-color: yellow;
    padding-left: 10px;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 26px;
    color: black;
  }
  
  /* Youtuber Container */
  .youtuber-container {
    display: flex;
    background-color: black;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* Floating Button */
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: yellow;
    color: black;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .floating-button span {
    font-size: 22px;
    font-weight: bold;
    padding-left: 5px;
    margin-right: 5px;
  }
  
  .plus-icon {
    font-size: 16px;
  }
  
  /* Form Container */
  .form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }
  
  .form-container.active {
    display: block;
  }
  
  /* Form */
  .youtuber-form {
    font-size: 20px;
  }
  
  .form-label {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
  }
  
  .form-input {
    margin-bottom: 25px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
  }
  
  .cancel-submit-btn-container {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-submit,
  .btn-cancel {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
  }
  
  .btn-cancel {
    background-color: red;
  }
  
  /* User List */
  .userList {
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
  }
  
  .youtuber-users-list {
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .side-arrow {
    color: black;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
  }
  
  
  .popup-content {
    position: relative;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px; /* Reduce padding for less space around content */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 20px; /* Add extra margin below the close mark */
    cursor: pointer;
    font-size: 29px;
    color: #555;
  }
  
  
  .userTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .parameterHeader {
    background-color: blue;
    color: white;
    padding-left: 4px;
  }
  
  .valueHeader {
    background-color: #4CAF50;
    color: white;
    padding-left: 4px;
  }
  
  .parameter, .value {
    border: 2px solid #ddd;
    padding: 8px;
  }
  
  .parameter:nth-child(even), .value:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .parameter:nth-child(odd), .value:nth-child(odd) {
    background-color: #fff;
  }
  