.main-header-container {
  background-color: yellow;
  padding-top:25px; /* Increased padding to create more space for the fixed heading */
  z-index: 499; /* Ensure .main-header-container is below .main-heading */
  margin-bottom: 16px;
}

.main-heading {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  padding-top: 12px; /* Increased padding to create more space */
  padding-bottom: 12px; /* Added padding below the heading text */
  padding-left: 8px;
  padding-right: 8px;
  background-color: yellow;
  font-weight: 550;
  position: fixed;
  z-index: 500;
  top: 0; /* Position the heading at the top of the viewport */
  left: 0;
  width: 100%;
  font-size: 26px; /* Reduced font size for mobile */
  color: black;
  font-style: normal;
}

/* Add margin to elements below the heading */
.grid-container {
  margin-top:30px; /* Adjusted margin to accommodate the increased padding */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  background-color: black;
}

  .grid-row {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  .grid-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    padding: 13px;
    border-radius: 8px;
    height: 100px;
    max-height: 130px;
    width: 110px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.763);
    margin: 10px;
  }
  .grid-card:hover {
    background-color: yellow;
  }
  
  .icon {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .heading-grid {
    font-size: 19px;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  

/* Color Palette */
.grid-card.grid-card-1 {
    background-color: #ff6b6b;
    box-shadow: 0px 0px 10px rgba(255, 107, 107, 0.5); /* Light Red */
    color: white; /* Light Red */
  }
  
  .grid-card.grid-card-2 {
    background-color: #f0a6ca; /* Pink */
    box-shadow: 0px 0px 10px rgba(240, 166, 202, 0.5); /* Pink */
    color: black;
  }
  
  .grid-card.grid-card-3 {
    background-color: #ffd166; /* Yellow */
    box-shadow: 0px 0px 10px rgba(255, 209, 102, 0.5); /* Yellow */
    color: black;
  }
  
  .grid-card.grid-card-4 {
    background-color: #6a0572; /* Purple */
    box-shadow: 0px 0px 10px rgba(106, 5, 114, 0.5); /* Purple */
    color: white;
  }
  
  .grid-card.grid-card-5 {
    background-color: #118ab2; /* Blue */
    box-shadow: 0px 0px 10px rgba(17, 138, 178, 0.5); /* Blue */
    color: black;
  }
  .whatsapp {
    background-color: green;
    box-shadow: 0px 0px 10px rgba(17, 138, 178, 0.5); /* Blue */
    color: white;
  }
  .map {
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgba(17, 138, 178, 0.5); /* Blue */
    color: black;
  }
  
  .grid-card.grid-card-6 {
    background-color: #73ff89; /* Green */
    box-shadow: 0px 0px 10px rgba(115, 255, 137, 0.5); /* Green */
    color: black;
  }
  
  /* Remaining CSS styles remain unchanged */
  