
.delete-Btn {
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: red;
    border-width: 0;
    width: 80px;
    margin: 5px;
  }
  
  .edit-Btn {
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: #28a745;
    border-width: 0;
    margin: 5px;
    width: 80px;
  }
  
  .rcyt-custom-popup {
    background-color: #ECCA3D;
    width:300px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
  }
  
  .rcyt-popup-cont {
    max-height: 400px;
    overflow-y: scroll;
    padding: 10px;
  }
.text-color1{
  color:green;
}
.text-color2{
  color:red;
}