*{
    font-family: "Roboto";
}
.d2dstats-card{
    border-radius: 8px;
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
}
.d2dstatsflexcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gr-bg1{
    background: linear-gradient(to right, #FFD700, #FFA500);
    color:black;
}
.gr-bg2{
    color:white;
    background: linear-gradient(to right, #8A2BE2, #20B2AA);
}
.gr-bg3{
    background: linear-gradient(to right, #F0E68C, #FFC0CB);
    color:black;
}
.gr-bg4{
    background: linear-gradient(to right, #FF0000, #FF4500);
    color:white;
}