/* Photos Header Styles */
.photos-main-header-container {
  background-color: yellow;
  padding-top: 15px;
  z-index: 499;
  margin-bottom: 10px;
}

.photos-main-heading {
  font-family: "Open Sans", sans-serif;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: yellow;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 26px;
  color: black;
}

/* Photos Tabs Styles */
.photos-upper-tabs-container {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  display: flex;
  background-color: white;
  color: black;
  z-index: 499;
  overflow-x: auto;
  white-space: nowrap;
}

.photos-upper-tab {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.photos-upper-tab.active {
  border-bottom: 2px solid #25D366;
}

/* Photos Content Styles */
.photos-content-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 90px;
  height: 150vh;
  background-color: white;
}

.photos-tab-content {
  display: none;
}

.photos-tab-content.active {
  display: block;
}

.webcam-in {
  width: 100%;
  max-width: 300px; /* Adjust max-width as needed */
}

@media (min-width: 768px) {
  .webcam-in {
    max-width: none;
  }
}

/* WebcamImageList.css */
.webcam-image-list-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.camera-container {
  margin-bottom: 20px;
}

.capture-button {
  margin-top: 10px;
  background-color: blue; /* Set blue background color */
  color: white; /* Set text color to white */
  padding: 8px 16px; /* Add padding for better appearance */
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  align-self: flex-end; /* Align button to the right */
}

.image-list-container {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  width: 100%; /* Adjusted for mobile devices */
  padding: 8px;
  box-sizing: border-box;
}

.image {
  max-width: 100%;
  height: auto;
}
.capture-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}